{% extends 'base.html.twig' %}

{% block title %}ALl Posts{% endblock %}

{% block body %}
    <div class="post-list">
        {% for post in posts %}
            {% if post is not empty %}
                <div class="post">
                    <a href="{{ path('app_micro_post_show', {post: post.id}) }}"><h3>{{ post.title }}</h3></a>
                    <!-- Add more product details as needed -->
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
