{% extends 'base.html.twig' %}

{% block bread %}
-> Profile
{% endblock %}


{% block title %} Profile settings {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ include('user/user_profile/partials/form.html.twig') }}

    <button type="submit" class="w-full mt-4 px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500">Save Profile</button>
    {{ form_end(form) }}

{% endblock %}