<ul class="flex space-x-4">
    <li><a href="{{ path('app_dashboard') }}" class="text-white hover:text-gray-300">Dashboard</a></li>
    <li><a href="{{ path('app_user_list') }}" class="text-white hover:text-gray-300">Users</a></li>
    <li><a href="{{ path('app_admin_product') }}" class="text-white hover:text-gray-300">Products</a></li>
    <li><a href="{{ path('app_admin_event') }}" class="text-white hover:text-gray-300">Event</a></li>
    <!-- Add more navigation links as needed -->
</ul>
